h1 {
    font-family: "American Typewriter", serif;
    text-align: center;
}

p {
    font-family: sans-serif;
}


h1 {
    font-family: "American Typewriter", serif;
}

h2 {
    font-family: "American Typewriter", serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-color: rgb(244, 244, 244);
    margin: 40px;
    text-indent: 10px;
}


.footer {
    margin-top: 100px;
    bottom: 0%;
    font-size: 10px;
    margin: 5px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}    

.contact_footer {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
 }

 .contact_footer img {

    width: 20px;
    height: 20px;
 }
     /* Contact page */
      @media screen and (max-width: 400px) {
        h2 {
            width: 100%;
        }

   
    .customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      .customers td, #customers th {
        border: 4px solid #ddd;
        padding: 4px;
        border-left: 2px;
        border-right: 2px;
      }
      
      .customers tr:nth-child(even){background-color: #f2f2f2;}
      
      .customers tr:hover {background-color: #ddd;}
      
      .customers th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        background-color: rgb(17, 17, 16);
        color: white;
        font-family: sans-serif;
      }
    
      .LI-profile-badge {
          width: 100%;
          text-align: right;
      }

      .footer {
        font-size: 10px;
        margin: 5px;
        }

    }

    @media screen and (min-width: 400px) {
        .reference {
            margin-top: 200px;
        } 
        .customers {
        font-family: sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      .customers td, #customers th {
        border: 4px solid #ddd;
        padding: 4px;
        border-left: 2px;
        border-right: 2px;
      }
      
      .customers tr:nth-child(even){background-color: #f2f2f2;}
      
      .customers tr:hover {background-color: #ddd;}
      
      .customers th {
        padding-top: 6px;
        padding-bottom: 6px;
        text-align: center;
        background-color: rgb(17, 17, 16);
        color: white;
        font-family: sans-serif;
      }
    
      .LI-profile-badge {
          width: 100%;
          text-align: center;
      }
    
    }

    .second_half_screen {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        .back_to_home {
            justify-content: center;
            align-self: center;
            width: 100%;
            padding: 150px; 
            display: flex;
        }
            .house {
                background-color: rgb(127, 255, 212);
                background: url("images/home.png") no-repeat;
                background-size: 100px;
                justify-content: center;
                align-self: flex-end;
                width: 100px;
                height: 70px;
            }
    
            .house p {
                text-align: center;
            }
            .house a {
                text-decoration: none;
                font-family: "American Typewriter", serif;
                color: rgb(255, 255, 255);
            }
    