
/* Mobile first, so I have to stablish the mobile conditions */

h1 {
    font-family: "American Typewriter", serif;
    text-align: center;
}

p {
    font-family: sans-serif;
}

.intro {
    text-align: center;
    padding: 30px 10px;
    background-color: whitesmoke;
}

h1 {
    font-family: "American Typewriter", serif;
}

h2 {
    font-family: "American Typewriter", serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
/* I need a space between the headline and the buttons to display an animation of a man pushing a rock as a signal of effort */

/* Mobile */

@media screen and (max-width: 400px) {

    a {
        text-decoration: none;
        color: rgb(0, 0, 0);
    }
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: rgb(0, 0, 0);
    }


    .juanma {
        /* background-image: url(images/juanma.jpg); */
        background-color: whitesmoke;
        background-size: cover;
        justify-content: center;
        align-self: flex-start;
        width: 100%;
        padding: 20px 5px 5px 5px;
        margin-bottom: 20px;
        display: flex;
    }

        .topcircle {
            background-color: rgb(127, 255, 212);
            background: url("images/juanma2.jpg");
            background-size: cover;
            justify-content: center;
            align-self: flex-start;
            width: 70px;
            height: 70px;
            border-radius: 50%;
        }

    .past {
        /* background: url(images/juanma.jpg) no-repeat fixed; */
        background-color: whitesmoke;
        align-self: center;
        width: 50%;
        display:flex;
        justify-content: center;
    }

        .leftcircle {
            /* align-self: center; */
            background: url("images/juanma.jpg");
            background-size: cover;
            background-color: brown;
            width: 70px;
            height: 70px; 
            border-radius: 50%;

        }

    .art {
        /* background: url(images/poetry.jpg) no-repeat fixed; */
        background-color: whitesmoke;
        align-self: center;
        width: 50%;
        display: flex;
        justify-content: center;
    }

        .rightcircle {
            background: url("images/poetry.jpg");
            background-color: blueviolet;
            background-size: cover;
            width: 70px;
            height: 70px; 
            border-radius: 50%;
        }

    .contact {
        /* background: url(images/juanma2.jpg) no-repeat fixed; */
        background-color: whitesmoke;
        justify-content: center;
        align-self: flex-end;
        width: 100%;
        padding: 5px 5px 30px 5px;
        margin-top: 20px;
        display: flex;
    }

        .bottomcircle {
            background-color: rgba(28, 75, 145, 0.564);
            width: 70px;
            height: 70px; 
            border-radius: 50%;
        }

    p {
        text-align: center;
        color: whitesmoke;
        font-size: "American Typewriter";
    }
    
}

    /* For mobile, what we inline is the content of both the topline and the bottomline so that they appear */
    
    .animation {
        width: 100%;
    }

    .animation img {
        height: 70px;
        width: 70px;
        position: relative;
        animation: snowball 3s forwards infinite;
    }

    @keyframes snowball {
        from  { left:00px; top:0px; }
        to { left: 80%; top:0px; }
    }
    
    .background {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .topline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomline {
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* For both lines not to be so close, we add margins */

    .topline {
        margin-bottom: 40px;
    }

    .bottomline {
        margin-top: 40px;
    }

    .background {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

/* Dropdown Button */
    .dropbtn {
        /* background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none; */
        margin-left: 20px;
        margin-right: 20px;
    }

        .dropbtn li {
            list-style: none;
        }

    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /* min-width: 350px;
        max-width: 300px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}


/* Now we align the each concrete position with its correspondent picture */

    .content {
        display: flex;
        justify-content: flex-start;
        text-align: flex-start;
    }

    .content img {
        width: 20px;
        height: 20px;
        margin: 10px;
    }
    
    .content li {
        font-size: 20px;
        font-family: sans-serif;
    }

}

/* Desktop */
@media screen and (min-width: 400px) {

/* Animated html image moving from left to right */

    .animation {
        width: 100%;
    }

    .animation img {
        height: 70px;
        width: 70px;
        position: relative;
        animation: snowball 40s forwards infinite;
    }
    
    @keyframes snowball {
        from  { left:-100px; top:0px; }
        to { left: 100%; top:0px; }
    }

/*  Core part of the page. Main navbar which elements are different types of experience. 
    In each of these, there is a dropdown when hover showing concrete positions within each type of experience.
    Eg: The internship at a law-firm is part of the Professional background.     */

/*  First, we align the elements for them to appear in the center of the page */
    .background {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

/* We call both of the divs which are part of the nav bar. We made them be inline, so the appear at the same line for desktop. */
    .topline {
        display: inline-block;
    }

    .bottomline {
        display: inline-block;
    }
  
/* Dropdown Button */
    .dropbtn {
        /* background-color: #4CAF50;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none; */
        margin-left: 20px;
        margin-right: 20px;
    }

        .dropbtn li {
            list-style: none;
        }

    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        /* min-width: 350px;
        max-width: 300px; */
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        right: 100px;
        left: 100px;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}


/* Now we align the each concrete position with its correspondent picture */

    .content {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .content img {
        align-self: center;
        width: 20px;
        height: 20px;
        margin: 10px;
        right: 0;
    }
    
    .content li {
        font-size: 20px;
        font-family: sans-serif;
        /* text-align: center; */
    }

/* Contact page */



}

/* Art page */

/* I want all the text to be aligned in the center */

.wrapper {
    width: 100%;
    text-align:center;
}
